/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* For the Mozilla-styled home page */
body.new-home { background-color: #fcfcfc; }
section.pillars { background-color: #fcfcfc; }
main.main-content { background-color: #fcfcfc; }

/* Settings for the other pages */
img.jumbotron-logo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fcfcfc;
}

.jumbotron {
    background-color: #fcfcfc;
}
